<h4>Add user</h4>
<form (ngSubmit)="addNewUser()" novalidate>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" required name="name" id="name" class="form-control" #nameInput>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" class="form-control" #emailInput>
  </div>
  <div class="form-group">
    <label for="role">  Role:</label>
    <select id="role" class="form-control" #selectInput>
      <option selected>Admin</option>
      <option>User</option>
      <option>Editor</option>
    </select>
  </div>
  <div class="form-group mt-3">
    <label>Active:</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox"  id="defaultCheck1" #check>
      <label class="form-check-label" for="defaultCheck1">
        Default checkbox
      </label>
    </div>
  </div>

  <button
    type="submit" class="btn btn-primary">Add</button>
</form>
