<div class="card" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Name: </strong>{{users.name}}</li>
    <li class="list-group-item"><strong>Email: </strong>{{users.email}}</li>
    <li class="list-group-item"><strong>Active: </strong>{{users.active}}</li>
    <li class="list-group-item"><strong>Role: </strong>{{users.role}}</li>
  </ul>
</div>
