<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" style="color: white" href="#">Users</a>
</nav>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <app-add-user (newUser)="addNewUser($event)"></app-add-user>
    </div>
    <div class="col">
      <app-users [users]="userService.users"></app-users>
    </div>
  </div>
</div>
